@{
    ViewData["Title"] = "Home Page";
}
@using Common 
<div class="text-center">
    <h1 class="display-4">加密密码，@MD5passwd.GenerateMD5("123")</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">少时诵诗书building Web apps with ASP.NET Core</a>.</p>
</div>
